{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue <strong>{{ app.user.firstname }} {{ app.user.lastname }}</strong> dans votre espace personnel.
    <hr>
        {% if is_granted('ROLE_ADMIN') %}
    - <a href="/admin">BackOffice Admin</a><br/>
        {% else %}
    - <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br/>
    - <a href="{{ path('account_address') }}">Mes adresses</a><br/>
    - <a href="{{ path('account_order') }}">Mes commandes</a><br/><br/>
        {% endif %}
    <hr>
{% endblock %}
